.navbar {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 20px;
  width: 400px;
  height: 98%;

  .navItem {
    &:hover {
      cursor: pointer;
      border-left: 2px solid blue;
      padding-left: 5px;
      background: white;
    }
  }
}

.addBtn {
  position: absolute;
  left: 10px;
  bottom: 5px;

  &:hover {
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2),
      inset 3px -3px 3px rgba(255, 255, 255, 0.2),
      inset -3px 3px 3px rgba(255, 255, 255, 0.2),
      inset -3px -3px 3px rgba(255, 255, 255, 0.2);
  }
}
