$mainColor: #3f51b5;

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $mainColor;
  color: white;
  font-weight: 600;
  font-size: 20px;

  .github {
    width: 40px;
    height: 40px;
  }
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  padding: 0px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: calc(100% - 70px);

  .nav {
    width: 400px;
    height: 100%;
    border-right: 1px solid $mainColor;
    background: rgba(200, 200, 200, 0.3);
  }
  .article {
    padding: 10px;
    width: calc(100% - 400px);
  }
}
