<h2 mat-dialog-title>Добавить статью</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="article" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Название статьи</mat-label>
      <input
        matInput
        placeholder="Название статьи"
        formControlName="title"
        required="true"
        cdkFocusInitial
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Текст статьи</mat-label>
      <textarea
        required="true"
        matInput
        placeholder="Текст статьи"
        formControlName="body"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отменить</button>
  <button
    [disabled]="!article.valid"
    mat-raised-button
    [mat-dialog-close]="{ article: article.value }"
    color="primary"
  >
    Добавить
  </button>
</mat-dialog-actions>
